<!DOCTYPE html>
<html>
<head>
    <title>Add User Data</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h2>👤 Add User Profile</h2>
    <p class="subtitle">This data will be hashed & used for selective disclosure.</p>

    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}

    <form method="POST">

        <label>Full Name:</label>
        <input type="text" name="name" required>

        <label>Date of Birth:</label>
        <input type="date" name="dob" required>

        <label>Gender:</label>
        <select name="gender" required>
            <option value="">Select</option>
            <option>male</option>
            <option>female</option>
            <option>other</option>
        </select>

        <label>Aadhaar Number:</label>
        <input type="text" name="aadhaar" minlength="12" maxlength="12" placeholder="12-digit" required>

        <button type="submit">Save Profile</button>
    </form>

    <br>
    <a href="/">Home</a>

</div>

</body>
</html>

