body {
    font-family: Arial;
    background: #f9f9f9;
    padding: 50px;
}

h1 {
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin: 10px 5px;
}

input {
    padding: 8px;
    width: 300px;
    margin: 8px 0;
}

button.btn {
    cursor: pointer;
}

.error {
    color: red;
    font-weight: bold;
}
